
/***** MAIN CONTENT: INTRO BIO *****/

.intro {
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.intro a:hover {
  color: #9FDADA;
}


/***** MAIN CONTENT: MAIN PROJECTS *****/

.main-projects {
  margin-top: 7em;
}

.main-project {
  margin: 4.6em 0;
}

.main-project-info {
  margin-top: 1em;
}

/* .main-project-info ul {
  margin-bottom: 0.8em;
} */

.tag {
  border-radius: 1em;
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 0.8em;
  margin-right: 0.6em;
  padding: 0.2em 0.8em;
}

.stonks-simulator li {
  background-color: rgb(228, 249, 255);
  color: rgb(4, 95, 199);
}

.urban-market li {
  background-color: #EEE6CA;
  color: #416C4C;
}

.main-project-info p {
    font-size: 1.65rem;
    line-height: 2.5rem;
    margin-bottom: 0.8em;
    margin-top: 0.2em;
}

.btn {
  font-size: 1.4rem;
  margin-right: 1.2em;
  transition: border-bottom 0.25s;
}

.btn:hover {
  color: #333;
  border-bottom: 2px solid #333;
}

.btn-link {
  border-bottom: 2px solid #8B8B8B;
  text-decoration: none;
}


/***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/

.other-projects {
  margin-top: 8em;
}

.other-projects-info p {
  font-size: 1.65rem;
  margin-bottom: 0.8em;
  margin-top: 0.2em;
}

.other-projects-images {
  flex-wrap: wrap;
}

.other-project {
  margin: 1em 0;
  position: relative;
}

.other-project-overlay p {
    font-size: 1.65rem;
    line-height: 2.5rem;
    margin-bottom: 0.8em;
    margin-top: 0.2em;
}

.other-project-overlay {
  border-radius: 5px;
  color: #ffffff;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s;
}

.other-project-overlay:hover {
  opacity: 1;
}



/* Landscape phones and tablets */

@media (min-width: 576px) {


  /***** MAIN CONTENT: INTRO BIO *****/

  .intro {
    font-size: 3.6rem;
    line-height: 5.2rem;  
  }

  /***** MAIN CONTENT: MAIN PROJECTS *****/

  .main-projects {
    margin-top: 14em;
  }

  .main-project {
      margin: 6.2em 0;
  }

  .main-project-info {
      margin-top: 0.8em;
  }

  .tag {
      font-size: 1.4rem;
  }

  .main-project-info p {
      font-size: 2rem;
      line-height: 2.7rem;
      margin-bottom: 1em;
      margin-top: 0.4em;
  }

  .btn {
      font-size: 2rem;
      margin-right: 1.4em;
  }

  .btn:hover {
      border-bottom: 2.8px solid #333;
  }

  .btn-link {
      border-bottom: 2.8px solid #8B8B8B;
  }

  /***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/

  .other-projects-info p {
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 1em;
    margin-top: 0.4em;
  }

  .other-projects-images {
      justify-content: space-between;
  }

  .other-project {
      margin: 1.6em 0;
  }

  .other-project-overlay p {
      font-size: 2rem;
      line-height: 2.7rem;
      margin-bottom: 1em;
      margin-top: 0.4em;
  }
}



/* Laptops and desktops */

@media (min-width: 992px) {


  /***** MAIN CONTENT: INTRO BIO *****/

  .intro {
    font-size: 4.3rem;
    line-height: 6.4rem;
  }

  /***** MAIN CONTENT: MAIN PROJECTS *****/

  .main-projects {
    margin-top: 16em;
  }

  .main-project {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 12em 0;
  }

  .main-project-image {
      max-width: 55%;
  }

  .main-project-info {
      align-items: center;
      display: flex;
      margin-top: 1em;
      max-width: 45%;
  }

  .links {
    margin-top: 3em;
  }



  /***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/

  .other-projects {
    margin-top: 18em;
  }

  .other-projects-images {
      display: flex;
      justify-content: space-between;
  }

  .other-project {
      margin: 1em 0;
      width: 48%;
  }
}